@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0a0823;


    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    min-height: 300vh;
    overflow-x: hidden;
    color: white;
}
a{
    text-decoration: none;
}
.nav{
    width: 100vw;
    max-width: 80rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.hamburger{
    font-size: 2rem;
    display: none;
    z-index: 7;
}
.OnfinanceHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.headerlogo{
    width: 3rem;
    margin: 1rem;
}
.headername{
    font-size: 1.8rem;
    font-weight: 700;
}
.navoptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}
.navlink{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255,255,255);
    text-decoration: none;
    margin: 0 1rem;
    cursor: pointer;
}
.navlink:hover{
    background: -webkit-linear-gradient(135deg,
                rgba(65, 220, 101, 1) 0%,
                rgba(62, 195, 213, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
    .nav{
        position: relative;
    }
    .navoptions{
        display: none;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        padding-top: 6rem;
        box-shadow: -4px 0px 5px rgba(0,0,0);
        z-index: 7;
    }
    .navmodal-active{
        display:flex
    }
    .navlink{
        width: 9rem;
        margin-bottom: 1rem;
        padding-bottom:10px ;
        border-bottom: 1px solid white;
    }
    .hamburger {
        display: block;
    }
}
/* home  */
.home{
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing{
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}
.taglines{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.tline{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.5rem 0;
}
.tlineg{
    font-size: 3rem;
    font-weight: 600;
    background: -webkit-linear-gradient(135deg,
                rgba(65, 220, 101, 1) 0%,
                rgba(62, 195, 213, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sline{
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
}
.downloadoptions{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.downloadbtn{
    margin-top: 2rem;
    margin-right: 2rem;
    width: 12rem;
    box-shadow: 2px 2px 10px #000000;
}
.landingShots{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.landingscreen{
    margin-top: 3rem;
    height:26rem;
    padding: 0 3rem;
    overflow: hidden;
    position: relative;
}
.landingss{
    height: 34rem;
}
.blurer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15rem;
    background: linear-gradient(to top,
                rgba(10, 8, 35, 100) 0%,
                rgba(10, 8, 35, 0) 100%);
}
.cryt-icons{
    position: absolute;
}
.ci1 {
    width: 8rem;
    top: 10%;
    right: 0;
}

.ci2 {
    width: 7rem;
    bottom: 10%;
    left: 0;
}

@media screen and (max-width: 980px) {
    .landing{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 5rem;
    }
    .taglines{
        width: 100%;
        justify-content: center;
    }
    .landingShots{
        width: 100%;
        align-items: center;
    }
}
@media screen and (max-width: 700px) {
    .landing{
        padding: 3rem;
    }
    .nav{
        padding-left: 1rem;
    }
}
@media screen and (max-width: 500px) {
    .tline {
        font-size: 2rem;
    }

    .tlineg {
        font-size: 2.3rem;
    }

    .sline {
        font-size: 0.8rem;
    }
    .downloadbtn {
        margin-right: 1rem;
        width: 10rem;
    }
}
@media screen and (max-width: 410px) {
    .landing {
        padding-left: 2rem;
    }
    .downloadbtn {
        width: 9rem;
    }
}
/* home end  */


/* features */
.pt {
    padding-top: 4rem;
}

.title {
    font-size: 2.2rem;
    font-weight: 700;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

.features{
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    padding-top: 3rem;
}
.featscreen{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.phonescreenft{
    position: relative;
    width: 20rem;
    height: 33.3rem;
    border-radius: 1rem;
    overflow: hidden;
}
.ftframe{
    position: absolute;
    top: 0rem;
    left: 0rem;
    width:20rem;
    z-index: 4;
}
.featimager{
    position: absolute;
    top: 0.5rem;
    left: 2.7rem;
    width: 14.6rem;
    height: 32rem;
    overflow: hidden;
    z-index: 2;
}
.ftimg{
    width: 14.6rem;
}
.featcontainer{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.featpoint{
    font-size: 1.5rem;
    font-weight: 700;
    /* background: radial-gradient(ellipse at center top, #784bff 0%, #784bff00 130%); */

    /* background-image: radial-gradient(ellipse at center top, #000000 0%, #0a0823 100%); */

    background-image: radial-gradient(ellipse at center top, #6159D9, #342ABB);

    width: 16rem;
    height: 8rem;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px #000000;
    position: relative;

    /* vanilla tilt  */
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.ftimage{
    top:-3rem;
    left: auto;
    right: auto;
    position: absolute;
    width:6rem;

    /* vanilla tilt  */
    transform: translateZ(10px);
}

@media screen and (max-width: 980px) {
    .features{
        padding: 0rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
    .featscreen {
        width: auto;
    }
    .featcontainer{
        width: auto;
    }
}
@media screen and (max-width: 830px) {
    .featpoint {
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 650px) {
    .featscreen{
        display: none;
    }
    .featpoint {
        margin-left: 1rem;
        margin-right: 1rem;
        transform: scale(0.9);
    }
}
/* features end  */


/* about us */
.aboutpart{
    margin-top: 0rem;
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.abttitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
.abtimg{
    width:5rem;
    margin:0.5rem;
}
.aboutpt{
    width: 70%;
    padding: 2px;
    margin: 1rem;
    border-radius: 7px;
}
.abtpoint{
    border-radius: 7px;
    border: 1px white dashed;
    padding: 1.5rem;
    position: relative;
    background: #0a0823;
}
.abtfeild{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0 0.5rem;
    background: #0a0823;
    position: absolute;
    top:-1.4rem;
}
.abtline{
    font-size: 1.5rem;
}
.aboutpt:hover{
    background: linear-gradient(135deg, rgba(65, 220, 101, 1) 0%, rgba(62, 195, 213, 1) 100%);
}
.aboutpt:hover .abtpoint{
    border: 1px solid #0a0823;
}
.aboutpt:hover .abtpoint .abtfeild .feildtxt{
    background: -webkit-linear-gradient(135deg,
                rgba(65, 220, 101, 1) 0%,
                rgba(62, 195, 213, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 850px) {
    .abtimg {
        width: 4rem;
    }

    .title {
        font-size: 1.8rem;
    }
    .aboutpt{
        width: 80%;
    }
    .abtfeild {
        font-size: 1.5rem;
        top: -1.1rem;
    }

    .abtline {
        font-size: 1.2rem;
    }
}

/* about us end  */

/* contact-us  */
.contact-us {
    padding-block: 2rem;
    width: 70%;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}

.card {
    background: linear-gradient(135deg, #6159D9, #342ABB);
    box-shadow: 6px 6px 10px black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    width: 18rem;
    height: 18rem;
    transition: all 0.1s ease-out;
    position: relative;
}

.card-bg {
    position: absolute;
    color: rgba(255, 255, 255, 0.02);
    font-weight: bold;
    bottom: -10px;
    right: 10px;
    font-size: 5em;
    user-select: none;
}

.card:hover  {
    scale: 107%;
    z-index: 1;
    transition: all 0.1s ease-in;
}

.card:hover .card-bg {
    color: rgba(255, 255, 255, 0.05);
}

.card img {
    width: 80px;
    height: 80px;
    position: relative;
    top: -25px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
}

.contacts {
    width: 80%;
    margin-inline: auto;
    padding-block: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#twitter {
    color: #1DA1F2;
}

#youtube {
    color: #CC0000;
}

#instagram {
    color: #8a3ab9;
}

#linkedin {
    color: #0077b5;
}

.contacts a i {
    width: 56px;
    height: 56px;
    font-size: 56px;
}
/* contact-us end */
