@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0a0823;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    min-height: 300vh;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.nav{
    width: 100vw;
    max-width: 80rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.OnfinanceHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.headerlogo{
    width: 3rem;
    margin: 1rem;
}
.headername{
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(255,255,255);
}
.navoptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}
.navlink{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255,255,255);
    text-decoration: none;
    margin: 0 1rem;
    cursor: pointer;
}
.navlink:hover{
    background: -webkit-linear-gradient(135deg,
                rgba(65, 220, 101, 1) 0%,
                rgba(62, 195, 213, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* home  */
.home{
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing{
    width: 100vw;
    max-width: 80rem;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5rem;
    padding-top: 9rem;
}
.taglines{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.tline{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.5rem 0;
}
.tlineg{
    font-size: 3rem;
    font-weight: 600;
    background: -webkit-linear-gradient(135deg,
                rgba(65, 220, 101, 1) 0%,
                rgba(62, 195, 213, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sline{
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
}
.downloadoptions{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.downloadbtn{
    margin-top: 2rem;
    margin-right: 2rem;
    width: 12rem;
    box-shadow: 2px 2px 10px #000000;
}
.landingscreen{
    width: 50%;
    margin-top: 3rem;
    height:26rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background: #000000; */
    overflow-y: hidden;

    position: relative;
}
.landingss{
    height: 34rem;
}
.blurer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15rem;
    background: linear-gradient(to top,
                rgba(10, 8, 35, 100) 0%,
                rgba(10, 8, 35, 0) 100%);
}
.cryt-icons{
    position: absolute;
}
.ci1 {
    width: 8rem;
    /* top: 1rem; */
    /* right: 6rem; */
    top: 10%;
    right: 14%;
}

.ci2 {
    width: 7rem;
    /* bottom: 2rem; */
    /* left: 6rem; */
    bottom: 10%;
    left: 14%;
}
/* home end  */


/* features */

.features{
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    padding-top: 9rem;
}
.featscreen{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.phonescreenft{
    position: relative;
    width: 20rem;
    height: 33.3rem;
    border-radius: 1rem;
    overflow: hidden;
}
.ftframe{
    position: absolute;
    top: 0rem;
    left: 0rem;
    width:20rem;
    z-index: 4;
}
.featimager{
    position: absolute;
    top: 0.5rem;
    left: 2.7rem;
    width: 14.6rem;
    height: 32rem;
    overflow: hidden;
    z-index: 2;
}
.ftimg{
    width: 14.6rem;
}
.featcontainer{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.featpoint{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    /* background-color: #242146; */
    /* background: radial-gradient(ellipse at center top,#784bff 0%,#77D9EF 100%); */
    background: radial-gradient(ellipse at center top, #784bff 0%, #784bff00 130%);
    /* background: radial-gradient(ellipse at center top, #77d9ef 0%, #77d9ef00 100%); */
    width: 16rem;
    height: 8rem;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px #000000;
    position: relative;

    /* vanilla tilt  */
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.ftimage{
    top:-3rem;
    left: auto;
    right: auto;
    position: absolute;
    width:6rem;

    /* vanilla tilt  */
    transform: translateZ(10px);
}
/* features end  */


/* about us */
.about-us {
    color: white;
    width: 70%;
    margin-inline: auto;

    display: grid;
    grid-template-columns: 2fr 3fr;

    row-gap: 2.5rem;
    column-gap: 2rem;
    margin-block: 1rem;
}
.title {
    grid-column-start: span 2;
    justify-self: center;
    text-align: center;
}

.about-us h2 {
    text-align: right;
}

p {
    padding-bottom: 0.5rem;
}

@media all and (max-width: 768px) {
    .about-us {
	grid-template-columns: 1fr;
	width: 80%;
	row-gap: 1.5rem;
    }
    .about-us h2 {
	text-align: center;
    }
    .about-us .title {
	grid-column-start: 1;
    }
    p {
	text-align: center;
    }
}
/* about us end  */
